:root {
  --font-family: 'Fira Sans Condensed', sans-serif;
  --second-family: 'Oswald', sans-serif;
  /* Подсмотрел у Бориса в продленке возможность задать цвета тоже переменными */
  --color-back: #000;
  --color-primery: #fff;
  --color-secondery: #545050;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--color-primery);
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--color-back);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ОБЩИЕ КЛАССЫ */

.visually-hidden {
  /* Гит хаб ругается на использование  absolute, закомментировал, не влияет вроде*/
  /* position: absolute; */
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 73.5px;
  border: 1px solid var(--color-primery);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--color-primery);
  user-select: none; /* подсмотрел у Бориса в продленке фишку */
  /* height: 34px; убрал, т.к. паддингом отрегулировал высоту*/
	transition: background 0.3s ease-in-out; /* Прикольная фича, Борис рассказал */
	

  &:active {
    background: var(--color-secondery);
  }

  &:hover {
    /* text-decoration: underline; */
		/* text-decoration-skip-ink: none; */
		text-underline-offset: 3px; /* подсмотрел у Бориса*/
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--color-primery);
    outline-offset: -4px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; работает и без этого*/
  align-items: end;
  width: 1140px;
  /* gap: 30px; работает и без этого*/
}

/* ЛЕВАЯ КОЛОНКА result */

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  width: 100%;
}

/* search-form */

.search-form {
  display: flex;
  /* flex-direction: row; работает и без этого*/
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.search-form__fieldset {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--color-primery);
  border: none;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

/* Переписал на вложенность после продленки с Борисом */

.search-form__label {
  display: inline-flex;
  /* column-gap: 5px; У Бориса было так, но у меня неполучилось, добавил маржу после псевдочекбокса*/
  align-items: center;
  user-select: none; /* подсмотрел у Бориса в продленке фишку */
  cursor: pointer;
  margin-top: 5px;

  &:has(.search-form__checkbox):hover {
    text-decoration: underline;
  }

  &:has(.search-form__textfield:focus-visible) {
    outline: 1px solid var(--color-primery);
    outline-offset: 2px;
  }

  &:has(.search-form__textfield:active) {
    outline: none;
  }

  &:has(.search-form__checkbox:focus-visible) {
    outline: 1px solid var(--color-primery);
    outline-offset: 2px;
  }

  &:has(.search-form__checkbox:active) {
    outline: none;
  }
}

.search-form__label-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  margin: auto;
}

.search-form__textfield {
  appearance: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;

  opacity: 0.7;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-primery);
  border-top: 1px solid var(--color-primery);
  padding: 2px; /* в оригинале 2.5, но так лучше попадает в пиксель */
  inline-size: 225px;
  margin: auto;

  &:active {
    border: 1px solid var(--color-primery);
    /* почему-то outline не дает нужго результата, пришлось использовать border */
    /* outline: 1px solid var(--color-primery); */
  }

  &:hover {
    cursor: text;
  }

  &:focus {
    outline: none;
  }
}

/* Переписал на вложенность после продленки с Борисом */

.search-form__checkbox-list {
  display: inline-flex;
  /* flex-direction: row; работает и без этого*/
  /* justify-content: space-between; работает и без этого*/
  column-gap: 15px;
  align-items: center;
  margin-bottom: 4px; /* Пришлось добавить, чтобы попасть в макет */
}

.search-form__pseudo-checkbox {
  border: 1px solid var(--color-primery);
  width: 19px;
  height: 19px;
  /* position: relative; разобрался, как сделать чз флекс*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

/* .search-form__checkbox:checked + .search-form__pseudo-checkbox::after { 
Переписал чз вложенность после продленки с Борисом
*/

.search-form__checkbox {
  margin: auto;

  &:checked {

    + .search-form__pseudo-checkbox {

      &::after {
        content: '';
        /* inset: 1px;
				position: absolute; Разобрался как сделать чз флекс*/
        /* width: 15px;
				height: 15px; Интересное решение чз проценты подсмотрел в продленке у Бориса*/
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background-color: var(--color-primery);
      }
    }
  }
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

/* ПРАВАЯ КОЛОНКА details */

.content__details {
  /* inline-size: 100%;
  block-size: 100%; */
  width: 399px;
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: var(--color-primery);
}

.content__accent {
  color: var(--color-secondery);
  line-height: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  /* overflow: auto; запретил явно нижний скролл, т.к. непрогнозируемо поднимает форму на ширину скролла*/
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
  margin-top: 21px;
  /* position: relative; */
}

.content__list-item {
  margin-bottom: 30px; /* тут размер подбирал по пикселю, в оригинале 30 */
}

.content__list-item:last-child {
  margin-bottom: 0;
}

/* Переписал на вложенность после продленки с Борисом */

.content__card-link {
  color: var(--color-primery);
  text-decoration: none;
  padding: 2px;
  display: block;
  margin: 2px;

  &:active {
    background: var(--color-secondery);
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--color-primery);
  }
}

.content__card-link_current {
  background: var(--color-secondery);
}

.content__video-card-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
	/* сокращаем длинное название города троекточием */
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
}

.content__video-card-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
	/* сокращаем длинный текст описания города троекточием */
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 4; /* line-clamp: 4; почему-то не поддерживается в моем хроме*/
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 1fr;
	/* grid-template-rows: 107px; */

  /* Сделал чез грид, т.к. получается меньше кода */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: start; */
}

/* Если дисплей = грид, то этот код получается не нужен */
/* .content__video-card-description-container {
 
  inline-size: 100%;
  block-size: 100%;
} */

.content__video-card-thumbnail {
  inline-size: 100%;
  object-fit: cover;
  object-position: bottom;
  justify-self: end;
}

.more-button {
  width: 100%;
}